%header.header
  .containerr.fl-center.fl-cont{style:"height: 100%;"}
    .fl-wrap.fl-grow.padd_left_10
      = link_to fluentd_ui_logo, root_path, class: "navbar-brandd fluentd-ui-logo"
    .fl-wrap
      .padd_left_md.hidden-sm-up
        .fl-cont
          .navbar-toggle
            %div{"data-target" => "#myNavbar", "data-toggle" => "collapse"}
              %img.dropdown_icon{:src => "http://galactic.staging.wpengine.com/wp-content/uploads/menu_collapse.png", :style => " cursor: pointer;"}

    -#.fl-wrap
      .gx-bage.lite-gr-bage.gr Beta


    .padd_left_md.hidden-sm-down
      .fl-wrap.gr-hover-el
        = link_to sessions_path, method: :delete, style:'height: 64px;', class:'fl-h-center', id:'logout' do
          .padd_left_md.padd_ri_md
            = inline_svg 'icons/logout.svg', class: 'red-svg'
