.nested-fields

  = f.input :name, placeholder: '', :label=>false
  = f.input :type_name, placeholder: '', :label=>false, collection: @types
  -#= f.input :primary_key, placeholder: '', :label=>false
  = link_to_remove_association "remove", f