.sidebar-header
  .fl-wrap.fl-grow
    .fl-cont
      .fl-wrap.padd_ri_sm
        %h2.sb-text.sb-h1-text.gr Edit table
      .fl-wrap
        %h2.sb-text.sb-h1-text=@table.name
    .clearfix
    %p.sb-p-text.gr
      Use this window to edit Kudu table.

= render 'updform'