.sidebar-header
  .fl-wrap.fl-grow
    .fl-cont
      .fl-wrap.padd_ri_sm
        %h2.sb-text.sb-h1-text.gr Edit table
      .fl-wrap
        %h2.sb-text.sb-h1-text=@table.name
    .clearfix
    %p.sb-p-text.gr
      Use this window to edit Kudu table.
  .fl-wrap
    = link_to 'Drop table',  destroy_table_path(:name => @table.name),  method: :delete, data: { confirm: 'Are you sure?' }, :class => "undec mdc-button gex-btn-new-red"

= render 'updform'