

// overrides bootstrap alert met

.alert {
  padding: 15px;
  margin: 0 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 11pt;
  padding-left: 20px;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: none;
}