.xsm-icon{
  width: 14px;
  height: 14px;
}

.sm-icon{
  width: 18px;
  height: 18px;
}

.md-icon{
  width: 24px;
  height: 24px;
}

.lg-icon{
  width: 30px;
  height: 30px;
}

.xlg-icon{
  width: 72px;
  height: 72px;
}



.fx-sm-icon{
  margin-top: -11px;
}


.card-icon{
  width: 20px;
  height: 20px;
  opacity: 0.6;
}